{% extends "base.html" %}

{% block content %}
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            <h2>Informe seus dados para realizar login</h2>
            <form class="pure-form pure-form-stacked" method="POST">
                {% csrf_token %}
                <fieldset>
                    <div class="pure-control-group">
                        <label for="username">Usuário</label>
                        <input id="username" type="text" name='username'/>
                    </div>

                    <div class="pure-control-group">
                        <label for="name">Senha</label>
                        <input id="name" type="password" name='password'/>
                    </div>
                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Entrar</button>
                    </div>
                </fieldset>
                <p>
                    Não é cadastrado? <a href="{% url 'accounts:register' %}" title="">Cadastre-se</a> <br />
                    Esqueceu a senha? <a href="{% url 'reset_password' %}" title="">Nova senha</a> <br />
                </p>
            </form>
        </div>
    </div>
{% endblock %}