{% extends "base.html" %}

{% block content %}
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            <h2>Criar nova senha</h2>
            <form class="pure-form pure-form-stacked" method="POST">
                {% csrf_token %}
                <fieldset>
                    <div class="pure-control-group">
                        {% for field in form %}
                        {{field.label_tag}}
                        {{field}}
                        {% if field.errors %}
                        <ul class="errorlist">
                            <li>{{field.errors}}</li>
                        </ul>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Redefinir senha</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}